Liquidacion/.vs/Liquidacion/v15/Server/sqlite3/storage.ide-wal
Liquidacion/.vs/Liquidacion/v15/Server/sqlite3/storage.ide-shm
Liquidacion/.vs/Liquidacion/DesignTimeBuild/.dtbcache
*.dll
*.cache
*.dll
*.dll
Liquidacion/PruebasUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Liquidacion/PruebasUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Liquidacion/LiquidacionWebControls/bin/Debug/RTGMGateway.dll.config
Liquidacion/Liquidacion/web.config.orig
Liquidacion/DLLiquidacion/DatosRegistroPago.cs.orig
Liquidacion/DLLiquidacion/DatosCliente.cs.orig
Liquidacion/DLLiquidacion/Cliente.cs.orig
Liquidacion 2.0.42.rar
Liquidacion 2.0.41.rar
Liquidacion 2.0.40.rar
Liquidacion 2.0.39.rar
Liquidacion 2.0.38.rar
Liquidacion 2.0.37.rar
Liquidacion/TestResults/Iván Trujillo_LAPTOP-27A9SR4T 2018-07-24 01_41_09/Out/error.png
Liquidacion/TestResults/Iván Trujillo_LAPTOP-27A9SR4T 2018-07-24 01_41_09/In/9e0247dc-5ac3-48da-a437-ed049cfd6f6e/LAPTOP-27A9SR4T/CodedUITestMethod1.png
Liquidacion/TestResults/Iván Trujillo_LAPTOP-27A9SR4T 2018-07-24 01_37_06/Out/error.png
Liquidacion/TestResults/Iván Trujillo_LAPTOP-27A9SR4T 2018-07-24 01_37_06/In/9c62dc02-d4cd-4321-b7f0-a8bf01cc3fe0/LAPTOP-27A9SR4T/CodedUITestMethod1.png
Liquidacion/TestResults/Iván Trujillo_LAPTOP-27A9SR4T 2018-07-24 01_36_22/Out/error.png
Liquidacion/TestResults/Iván Trujillo_LAPTOP-27A9SR4T 2018-07-24 01_36_22/In/4bb0da5f-7869-495e-9830-98678d0596a8/LAPTOP-27A9SR4T/CodedUITestMethod1.png
Liquidacion/TestResults/CodedUITestMethod1-2018-07-24 01_31_36.vsp
Liquidacion/PruebasUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Liquidacion/Liquidacion/FormaPago.aspx.orig
Liquidacion/Liquidacion/FormaPago.aspx.cs.orig
Liquidacion/Liquidacion/ControlesUsuario/wucDetalleFormaPago.ascx.orig
Liquidacion/Liquidacion/ControlesUsuario/wucDetalleFormaPago.ascx.cs.orig
Liquidacion/Liquidacion/Conexion.txt.orig
Liquidacion/Liquidacion/Bin/nunit.framework.xml
Liquidacion/Liquidacion/Bin/log4net.xml
QA/Incident LOG Liq Web. Ver 2.6_rev.xlsx
Liquidacion/PruebasUI/obj/Debug/PruebasUI.csproj.FileListAbsolute.txt
Liquidacion/PruebasUI/UIMap.uitest
Liquidacion/PruebasUI/UIMap.cs
Liquidacion/PruebasUI/UIMap.Designer.cs
Liquidacion/PruebasUI/PruebasUI.csproj
Liquidacion/PruebasUI/Properties/AssemblyInfo.cs
Liquidacion/PruebasUI/CodedUITest1.cs
